name: Build and upload to PyPI

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10


env:
  CIBW_TEST_EXTRAS: test
  CIBW_TEST_SKIP: "*_arm64 *_universal2:arm64"
  CIBW_ARCHS_MACOS: "x86_64 universal2"

jobs:
  sdist:
    name: Creating source release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
      - name: Setting up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'

      - name: Installing python build dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade setuptools

      - name: Building source distribution
        run: |
          pip install -e ".[release]"
          python setup.py sdist

      - uses: actions/upload-artifact@v4
        with:
          path: dist/*.tar.gz

  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.2
        with:
          config-file: "{package}/pyproject-cibuildwheel.toml"

      - uses: actions/upload-artifact@v4
        with:
          name: wheel-artifact-${{ matrix.os }}
          path: ./wheelhouse/*.whl
          if-no-files-found: error

  upload_all:
    needs: [build_wheels, sdist]
    name: Uploading built packages to pypi for release.
    runs-on: ubuntu-latest
    steps:
    - uses: actions/download-artifact@v2
      with:
        name: artifact
        path: dist
        merge-multiple: true

    - uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        user: ${{ secrets.PYPI_USERNAME }}
        password: ${{ secrets.PYPI_PASSWORD }}